.App {
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5em;
  padding: 5em;
}

.td_20{  
  overflow-wrap:break-word ;
  width: 35% ;
  padding: 0.3em;
}

.centerelement{
text-align: center;
}
select{
  width: 80%;
}

