
  .ModalBackground {
    width: 100vw;
    height: 100vh;
    background-color: #1f312eb4;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
  
  .ModalContainer {
    border-radius: 5px;
    background-color: white;
    border:1px solid #009879 ;
    box-shadow: rgba(0, 0, 0, 0.596) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;    
    
  }
  .ModalHeader{
    text-align: center;
    color: #009879;
  }
  .ModalBody{
    margin-bottom: 0.1em;
    text-align: center;
  }

