
  .ModalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(24, 20, 20, 0.747);
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .ModalContainer {
    width: 500px;
    height: 200px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.596) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    z-index: 101;
  }

