.td_20{  
    overflow-wrap:break-word ;
    width: 20vw ;
   }
  
.centerelement{
  text-align: center;
  }

table{
    border-collapse: collapse;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 400px;
    border: 1px solid #009879;     
}


table thead tr {
  background-color: #009879;
  color: #ffffff; 
  font-size: 1.1em;
}
table th,table td {
  padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #cef1ea;
}

table tbody tr:nth-of-type(even) {
  background-color: #ecfaf7;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.inputTable{
  padding: 7px 2px;
  width: 80%;
  font-size: 1em;
  border: 1px solid #009879;
} 
.inputTable:focus {
  outline: none;
  box-shadow: lightgreen;
  border-radius: 2px;
  }
.orderButton{  
  appearance: none;
  margin: 10px;
  width: 35px;
  height: 35px;
  font-size: 1.2em;
  background-color: #ffffff;
  border: 1px solid #009879;
  border-radius: 5px;
  color: #009879;
  cursor: pointer;
}
.rotation-90{
  transform: rotate(-90deg);
}
.rotation90{
  transform: rotate(90deg);
}


